<footer>
    <div class="container">
        <div class="row">
            <div class="col-4 contacts">
              <ul>
                  <li><i class="fa-solid fa-envelope"></i><a href="mailto:uhururawlings40@gmail.com">uhururawlings40@gmail.com</a></li>
                  <li><i class="fa-solid fa-phone"></i><a href="tel:+254705287224">+254705287224</a></li>
              </ul>
            </div>
            <div class="col-4 sociallinks">
                <ul>
                    <li><i class="fa-brands fa-github"></i><a href="">github</a></li>
                    <li><i class="fa-brands fa-twitter"></i><a href="">twitter</a></li>
                    <li><i class="fa-brands fa-linkedin"></i><a href="">linkedin</a></li>
                </ul>
            </div>
            <div class="col-4 newslater">
                <form action="" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="email" name="useremail" id="useremail" class="form-control shadow-none" placeholder="Enter email adress">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Signup" id="submitbtn" class="btn btn-primary shadow-none">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center">&copy; copyright | all rights reserved</div>
</footer>