<section class="navsection">
    <app-navbar></app-navbar>
</section>
<section class="bodysection">
    <div id="welcometext">
        <div class="welcometext container">
            <h1>Looking to buy a second hand car?</h1>
            <p>car-yard is here to bridge the gap between car dealers and buyers <br> with security issues considered.</p>
            <a routerLink=""><button class="btn btn-primary shadow-none">View Collection</button></a>
        </div>
    </div>
</section>
<section class="howitworks container">
    <div class="aboutus row">
        <div class="col-4">
            <h3>About us</h3>
        </div>
        <div class="col-8">
            <p>
                caryard is an online platform that allows those looking for second hand cars
                to talk directly to the delers or owners who seek to sell their cars.
            </p>
            <p>
                We seek to prevent situations where buyers face brockers that ends up 
                over charging. We also help the husle of looking for car by providing a buyer 
                with wide range of cars to choose from.
            </p>
            <p>
                We ensure our delers are verified and we do the husle of cheking cars details with 
                concerned authorities to ensure a buyer gets what they want and delers doesnt sell 
                stollen cars.
            </p>
        </div>
    </div>
    <div  id="title"><h3 class="titles text-center">How it works</h3></div>
    <div class="flex_cards row">
        <div class="card col-4 section1">
            <div class="images"><img src="../../assets/images/favs.jpg" height="100%" width="100%" alt=""></div>
            <h5 class="text-center">Browse car list</h5>
            <p>Browse through our many list of cars and pick your best.</p>
        </div>
        <div class="card col-4 section2">
            <div class="images"><img src="../../assets/images/availability.png" height="100%" width="100%" alt=""></div>
            <h5 class="text-center">Check Availability</h5>
            <p>create or login to your account to check Availability.</p>
        </div>
        <div class="card col-4 section3">
            <div class="images"><img src="../../assets/images/meetup.png" height="100%" width="100%" alt=""></div>
            <h5 class="text-center">Get Linked up</h5>
            <p>Your contact details and delers details will be shared to link up.</p>
        </div>
    </div>
</section>
<section class="testimonials container">
    <h3 class="text-center">What customers say about us</h3>
    <div class="row">
        <div class="card col-3">
            <div class="imag"> <img src="../../assets/images/image1.jpeg" width="100%" height="100" atl="image"> </div>
            <div class="names">Jane doe</div>
            <p>
                I have used this platform when i needed to buy my first car.
                easy steps and i got connected and i got my car.
            </p>
        </div>
        <div class="card col-3">
            <div class="imag"> <img src="../../assets/images/image2.jpeg" width="100%" height="100" atl="image"> </div>
            <div class="names">John doe</div>
            <p>
                I would prefere this platform to others. easy to use. trust wothy,
                if looking to buy second hand vehicle you should consider this.
            </p>
        </div>
        <div class="card col-3">
            <div class="imag"> <img src="../../assets/images/image3.jpeg" width="100%" height="100" atl="image"> </div>
            <div class="names">collince</div>
            <p>
                The fact that you find veriety of cars here makes this place the best
                to for buying cars. 
            </p>
        </div>
        <div class="card col-3">
            <div class="imag"> <img src="../../assets/images/image4.jpeg" width="100%" height="100" atl="image"> </div>
            <div class="names">bill clinton</div>
            <p>
                Any car deler, this platform offers you customers across the country and that is a +1.
            </p>
        </div>
    </div>
</section>