<section class="navsection">
    <app-navbar></app-navbar>
</section>
<section class="bodysection">
    <div id="welcometext">
        <div class="welcometext container">
            <h1>Looking to buy a second hand car?</h1>
            <p>car-yard is here to bridge the gap between car dealers and buyers <br> with security issues considered.</p>
            <a routerLink=""><button class="btn btn-primary shadow-none">View Collection</button></a>
        </div>
    </div>
</section>
<section class="howitworks container">
    <div  id="title"><h3 class="titles text-center">How it works</h3></div>
</section>