<nav>
    <div class="nav-links container">
        <a routerLink="/"><button class="btn shadow-none text-light">Home</button></a>
        <a routerLink="/cars"><button class="btn shadow-none text-light">Cars</button></a>
        <a routerLink="/user/messages"><button class="btn shadow-none text-light">Messages</button></a>
        <a routerLink="/user/profile"><button class="btn shadow-none text-light">Profile</button></a>
        <a routerLink=""><button class="btn shadow-none text-light">Login</button></a>
    </div>
    <section class="loginsection">
        <form action="" autocomplete="off" method="post">
            <div class="form-group">
                <input type="text" name="useremail" id="useremail" class="shadow-none form-control" placeholder="Enter emailadress">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="shadow-none form-control" placeholder="Enter password">
            </div>
            <div class="form-group" id="links">
                <a href="">signup</a>
                <a href="">forget password?</a>
            </div>
            <div class="form-group">
                <input type="submit" value="login" id="submitbtn" class="btn btn-primary full">
            </div>
        </form>
    </section>
</nav>