<div class="flex_forms">
    <div class="signupform">
        <div class="signups">
            
        </div>
    </div>
    <div class="forms">
        <h4 class="text-center">Reset Password</h4>
        <form autocomplete="off" method="post">
            <div class="text-center text-success">{{ success }}</div>
            <div class="text-center text-danger">{{ error }}</div>
            <div class="form-group">
                <label for="useremail">useremail</label>
                <input type="email" name="useremail" [(ngModel)]="useremail" required id="useremail" class="form-control shadow-none" placeholder="Enter useremail">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="password" [(ngModel)]="password" required id="password" class="form-control shadow-none" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">confirm password</label>
                <input type="password" name="confirmpassword" required id="confirmpassword" class="form-control shadow-none" placeholder="confirm password">
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-primary" id="submitbtn">
            </div>
            <div class="form-links">
                <!-- <p>already having account? go to <a routerLink="/user/login">login</a></p> -->
                <p>Back to <a routerLink="/">login</a></p>
                <p>Dont have account? go to <a routerLink="/">signup</a></p>
            </div>
        </form>
    </div>
</div>