/* You can add global styles to this file, and also import other style files */
body{
    position:relative;
}
nav{
    background-color: rgb(31, 30, 30);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    position:sticky;
    top:0;
}
nav .nav-links a{
    margin-left: 15px;
}
nav .nav-links a button{
    position: relative;
    color: #C5C5C5;
}
nav .nav-links a button::after{
    content: "";
    border-bottom: 2px solid rgb(146, 42, 5);
    border-right: 2px solid rgb(146, 42, 5);
    width:30%;
    height:30%;
    position:absolute;
    bottom:0;
    right:0;
    opacity: 0;
    transition:0.75s;
}
nav .nav-links a button::before{
    content: "";
    border-top: 2px solid rgb(146, 42, 5);
    border-left: 2px solid rgb(146, 42, 5);
    position:absolute;
    width:30%;
    height:30%;
    top:0;
    left:0;
    opacity: 0;
    transition:0.75s;
}
nav .nav-links a button:hover::before{
    opacity:1;
}
nav .nav-links a button:hover::after{
    opacity:1;
}
*{
    font-family: sans-serif;
}
#title{
    position:relative;
}
.howitworks{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* #title .titles{
    padding: 10px;
    position: absolute;
}
#title .titles::after{
   content: "";
   width: 15px;
   height: 15px;
   border-right: 3px solid rgb(146, 42, 5);
   border-bottom: 3px solid rgb(146, 42, 5);
   position: absolute;
   right: 0;
   bottom: 0;
}
#title .titles::before{
    content: "";
    width: 15px;
    height: 15px;
    border-top: 3px solid rgb(146, 42, 5);
    border-left: 3px solid rgb(146, 42, 5);
    position: absolute;
    left: 0;
    top: 0;
 } */
 #submitbtn{
     background-color: rgb(146, 42, 5);
     color: #C5C5C5;
     /* border: none; */
     transition: 1.2s;
     border: 2px solid rgb(146, 42, 5);
 }
 #submitbtn:hover{
    background-color: inherit;
    color: rgb(146, 42, 5);
    border: 2px solid rgb(146, 42, 5);
 }
 .signupform{
     background-image: url(assets/images/signup.jpg);
     background-size: 100% 100%;
     width: 50%;
     height: 100vh;
 }
 .signups{
    width: 100%;
    height: 100%;
    background-color: rgba(31, 30, 30,.8);
 }
 .signups form{
     width: 30%;
     margin: auto;
 }
 .signups form .form-group{
     margin-bottom: 10px;
 }
 form .form-control{
     height: 45px;
 }